<h1><%=@merchant.name%> Bulk Discounts</h1>

<%@discounts.each do |discount|%>
<p id="discount-<%=discount.id%>">
  <%=discount.percent_off%>% off on <%=discount.min_quantity%> or more of any individual item
</p>
<%end%>
